@import "@fontsource-variable/manrope";

html,
body {
  font-family: "Manrope Variable", sans-serif;
  background-color: #000000;
}

button {
  cursor: pointer;
  font-family: "Manrope Variable", sans-serif;
}

p {
  font-family: "Manrope Variable", sans-serif;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
}

.date-picker-container {
  border: 1px solid rgb(102, 102, 102);
  border-radius: 18px;
  height: 540px;
}

.details-container {
  padding: 14px;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.year-text {
  color: rgb(205, 201, 201);
  margin-bottom: 4px;
  font-weight: 500;
}

.day-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.date-picker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.date-picker-inner-wrapper {
  padding: 14px;
}

.date-picker-header p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
  width: 50px;
  height: 30px;
  outline: none;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  padding: 0;
}

.date-picker-days {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 3px;
  text-align: center;
  width: fit-content;
  margin: 20px auto;
}

.date-picker-days p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.date-picker-dates {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 3px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.date-picker-dates button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  color: #7e7b7b;
  text-align: center;
  border: none;
  border-radius: 9999px;
  padding: 10px 0;
}

.date-selected {
  background-color: #00a15d !important;
}
.date-color {
  color: #ffffff !important;
  font-weight: 600 !important;
}
